

body {
    margin: 1.5cm;
    font-size: 10pt;
    font-weight: lighter;
    font-family: '맑은 고딕'
}

h2 {
    color: rgb(73, 178, 141);
    font-size: 14pt;
}

h3 {
    color: rgb(73, 178, 141);
    font-size: 12pt;
}

p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

li {
    line-height: 2em;
}

table {
    border-collapse: collapse;
    border: 1px solid #999999;
    margin: 2em 0em;
    width: 100%;
}

th {
    padding: 0.4em;
    background-color: rgb(230, 255, 224);
}

td {
    padding: 0.6em;
}

td.vert {
    background-color: rgb(230, 230, 230);
}

.opentable {
    border-collapse: collapse;
    border: 1px solid #999999;
}

.codebox {
    border: 1px solid rgb(73, 178, 141);
    line-height: 2em;
    width: 100%;
    font-family: monospace;

    margin: 2em 0em;
    padding: 0.8em 0.8em 0.8em 0.8em;

    /* https://cloudless.tistory.com/106 */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.caution_head, .ref_head {
    text-align: center;
    width: 6em;
}

.caution_head {
    background-color: yellow;
}

.ref_head {
    background-color: lightgray;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}